@using TechnicalMarineSolutions.Hashing
@{
	ViewBag.Title = "Home";
}

<!--main flex slider start-->
<section id="main-slider-bg">
	<div class="slider-overlay">
		<div class="slider-main">
			<div class="container text-center">
				<ul class="slides">
					<li>
						<h1 class="slider-heading">Hello! Welcome to TMS!</h1>
						<p class="slider-desc">Technical Marine Solutions focuses on servicing marine vehicles in East Florida</p>
						<a href="#" class="btn btn-lg btn-white">Schedule an Appointment</a>
					</li>
					<li>
						<h1 class="slider-heading">Focused on Customer Satistfaction</h1>
						<p class="slider-desc">With our newly developed software, keeping track of clients, projects, tasks, and appointments has never been easier</p>
						<a href="#" class="btn btn-lg btn-white">See what we offer</a>
					</li>
					<li>
						<h1 class="slider-heading">Trustworthy</h1>
						<p class="slider-desc">With X years as an Electronics Technician in the United States Navy, Gregory Davidson has the experience you need!</p>
						<a href="#" class="btn btn-lg btn-white">Find out more about us</a>
					</li>
					<li>
						<h1 class="slider-heading">Seeking to Expand</h1>
						<p class="slider-desc">TMS is looking to service more than the eastern Florida region and may have positions available</p>
						<a href="#" class="btn btn-white btn-lg">Contact us to see what positions are available</a>
					</li>
				</ul>
			</div> <!-- /container -->
		</div><!--slider main-->
	</div><!--slider overlay-->
</section>
<!--main flex slider end-->
<!--services-->
<section id="services-sec" class="padding-60">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center margin-btm40">
				<h1>Let Technical Marine Solutions handle the tough stuff</h1>
				<h2 class="subtitle">Ship, Service, Self</h2>
			</div>
			<div class="col-md-3 margin-btm20">
				<div class="services-box wow animated fadeInLeft" data-wow-delay="0.2s">
					<i class="ion-ios-heart-outline"></i>
					<h3>Customer Satisfaction</h3>
					<p>
						TMS gladly welcomes any comments, concerns, questions, complaints, and suggestions that our clients have. We strive to ensure that we have the highest customer satisfaction around!
					</p>
				</div>
			</div>
			<div class="col-md-3 margin-btm20">
				<div class="services-box wow animated fadeInLeft" data-wow-delay="0.4s">
					<i class="ion-social-twitter-outline"></i>
					<h3>Eternal Vigilence</h3>
					<p>
						Having been founded by a United States Navy Veteran with X years as an Electronics Technician, TMS works hard to ensure that we deliver the highest quality at any given time. We take the time to ensure that everything meets or exceeds all expectations.
					</p>
				</div>
			</div>
			<div class="col-md-3 margin-btm20">
				<div class="services-box wow animated fadeInLeft" data-wow-delay="0.6s">
					<i class="ion-code"></i>
					<h3>Transparency</h3>
					<p>
						We understand that there is often unexepected obstacles that must be overcome and take whatever measures necessary to ensure a successful outcome. As a result, we strive to work with the client through every step of the process ensuring customer satisfaction.
					</p>
				</div>
			</div>
			<div class="col-md-3 margin-btm20">
				<div class="services-box wow animated fadeInLeft" data-wow-delay="0.8s">
					<i class="ion-ios-monitor-outline"></i>
					<h3>We're Really Bad-Assed</h3>
					<p>
						Warheads on Foreheads. 'Murica! (We need to come up with some extra text for these)
					</p>
				</div>
			</div>
		</div>
	</div><!--container end-->
</section>
<!--services end-->
<section id="recent-work" class="padding-60">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center margin-btm40 wow animated bounceIn">
				<h1>Recent Work</h1>
				<h2 class="subtitle">
					<i class="ion-image"></i>
				</h2>
			</div>
			<div class="col-md-12">
				<ul class="portfolio-filters" text-center">
					<li class="filter" data-filter="all">all</li>
					<li class="filter" data-filter="design">design</li>
					<li class="filter" data-filter="html">HTML5</li>
					<li class="filter" data-filter="wordpress">Wordpress</li>
					<li class="filter" data-filter="seo">Seo</li>
				</ul><!--portfolio filter lisr-->

				<div id="grid" class="row">

					<div class="col-xs-12 col-sm-4 portfolio-item mix seo">
						<a href="#">
							<div class="image-sec">
								<img class="img-responsive" src="~/Content/Images/img-1.jpg" alt="Portfolio">
								<div class="image-overlay">
									<p>
										<i class="ion-ios-plus-empty"></i>
									</p>
								</div>
							</div> <!--image-->
						</a>
					</div> <!--portfolio-item -->

					<div class="col-xs-12 col-sm-4 portfolio-item mix html seo">
						<a href="#">
							<div class="image-sec">
								<img class="img-responsive" src="~/Content/Images/img-2.jpg" alt="Portfolio">
								<div class="image-overlay">
									<p>
										<i class="ion-ios-plus-empty"></i>
									</p>
								</div>
							</div> <!--image-->
						</a>
					</div> <!--portfolio-item -->

					<div class="col-xs-12 col-sm-4 portfolio-item mix wordpress html Design">
						<a href="#">
							<div class="image-sec">
								<img class="img-responsive" src="~/Content/Images/img-3.jpg" alt="Portfolio">
								<div class="image-overlay">
									<p>
										<i class="ion-ios-plus-empty"></i>
									</p>
								</div>
							</div> <!--image-->
						</a>
					</div> <!--portfolio-item -->

					<div class="col-xs-12 col-sm-4 portfolio-item mix design">
						<a href="#">
							<div class="image-sec">
								<img class="img-responsive" src="~/Content/Images/img-4.jpg" alt="Portfolio">
								<div class="image-overlay">
									<p>
										<i class="ion-ios-plus-empty"></i>
									</p>
								</div>
							</div> <!--image-->
						</a>
					</div> <!--portfolio-item -->

					<div class="col-xs-12 col-sm-4 portfolio-item mix html wordpress">
						<a href="#">
							<div class="image-sec">
								<img class="img-responsive" src="~/Content/Images/img-5.jpg" alt="Portfolio">
								<div class="image-overlay">
									<p>
										<i class="ion-ios-plus-empty"></i>
									</p>
								</div>
							</div> <!--image-->
						</a>
					</div> <!--portfolio-item -->

					<div class="col-xs-12 col-sm-4 portfolio-item mix wordpress html design">
						<a href="#">
							<div class="image-sec">
								<img class="img-responsive" src="~/Content/Images/img-6.jpg" alt="Portfolio">
								<div class="image-overlay">
									<p>
										<i class="ion-ios-plus-empty"></i>
									</p>
								</div>
							</div> <!--image-->
						</a>
					</div> <!--portfolio-item -->
				</div> <!--grid -->
				<div class="divied-40"></div><!--divide by 40px -->
				<div class="row">
					<div class="col-md-12 text-center">
						<a href="#" class="btn btn-theme btn-lg">View Portfolio</a>
					</div>
				</div><!--row-->
			</div><!--col-md-12-->
		</div><!--row-->
	</div><!--container end-->
</section><!--recent work-->

<section id="about-colored" class="padding-60">
	<div class="container">
		<div class="row">
			<div class="col-md-12 margin-btm20 text-center wow animated bounceIn">
				<h1>About Us</h1>
				<h2 class="subtitle">
					<i class="ion-ios-people-outline"></i>
				</h2>
			</div>
			<div class="col-sm-8 col-sm-offset-2 text-center margin-btm20">
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar scelerisque dictum. Donec iaculis, diam sit amet suscipit feugiat, diam magna volutpat augue, sit amet varius nulla turpis sit amet lacus. Aenean faucibus, sem quis convallis lobortis. Aenean faucibus, sem quis convallis lobortis.
				</p>
			</div>
			<div class="col-sm-12 text-center">
				<ul class="list-unstyled list-inline social">
					<li>
						<a href="#">
							<i class="ion-social-facebook-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="ion-social-twitter-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="ion-social-googleplus-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="ion-social-rss-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="rss"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="ion-social-linkedin-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On linkedin"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="ion-social-pinterest-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="pinterest"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="ion-social-skype-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="skype"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="ion-social-dribbble-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="dribbble"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="ion-social-yahoo-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="yahoo"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="ion-social-vimeo-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="vimeo"></i>
						</a>
					</li>
					<li>
						<a href="#">
							<i class="ion-social-github-outline" data-toggle="tooltip" data-placement="top" title="" data-original-title="github"></i>
						</a>
					</li>
				</ul>
			</div>
			<div class="col-sm-12 text-center">
				<ul class="list-unstyled list-inline social">
					<li>
						<h2>
							TechnicalMarineSolutions<br/>
							<small>
								@MurmurHash3.GetHash("TechnicalMarineSolutions")
							</small>
						</h2>
					</li>
					<li>
						<h2>
							TechnicalMarineSolutions<br/>
							<small>
								@MurmurHash3.GetHash("TechnicalMarineSolutions")
							</small>
						</h2>
					</li>
					<li>
						<h2>
							TechnicalMarineSolutions<br/>
							<small>
								@MurmurHash3.GetHash("TechnicalMarineSolutions")
							</small>
						</h2>
					</li>
					<li>
						<h2>
							TechnicalMarineSolutions<br/>
							<small>
								@MurmurHash3.GetHash("TechnicalMarineSolutions")
							</small>
						</h2>
					</li>
					<li>
						<h2>
							TechnicalMarineSolutions<br/>
							<small>
								@MurmurHash3.GetHash("TechnicalMarineSolutions")
							</small>
						</h2>
					</li>
					<li>
						<h2>
							TechnicalMarineSolutions<br/>
							<small>
								@MurmurHash3.GetHash("TechnicalMarineSolutions")
							</small>
						</h2>
					</li>
					<li>
						<h2>
							TechnicalMarineSolutions<br/>
							<small>
								@MurmurHash3.GetHash("TechnicalMarineSolutions")
							</small>
						</h2>
					</li>
					<li>
						<h2>
							TechnicalMarineSolutions<br/>
							<small>
								@MurmurHash3.GetHash("TechnicalMarineSolutions")
							</small>
						</h2>
					</li>
				</ul>
			</div>
		</div>
	</div><!--container-->
</section><!--about Colored-->
<section id="latest-news" class="padding-60">
	<div class="container">
		<div class="row">
			<div class="col-md-12 margin-btm40 text-center wow animated fadeInUp">
				<h1>Latest News</h1>
				<h2 class="subtitle">
					<i class="ion-compose"></i>
				</h2>
			</div>
			<div class="col-sm-4 col-xs-12 margin-btm20 wow animated fadeInUp" data-wow-delay="0.2s">
				<a href="blog-post.html">
					<div class="image-sec">
						<img class="img-responsive" src="~/Content/Images/img-6.jpg" alt="Portfolio">
						<div class="image-overlay">
							<p>by author | 7 may | Design</p>
						</div>
					</div> <!--image-->
				</a>
				<div class="blog-desc">
					<h3>
						<a href="blog-post.html" class="hover-color">Amazing theme for Multi-Purpose</a>
					</h3>
					<p>
						aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
					</p>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12 margin-btm20 wow animated fadeInUp" data-wow-delay="0.4s">
				<a href="blog-post.html">
					<div class="image-sec">
						<img class="img-responsive" src="~/Content/Images/img-1.jpg" alt="Portfolio">
						<div class="image-overlay">
							<p>by author | 7 may | Design</p>
						</div>
					</div> <!--image-->
				</a>
				<div class="blog-desc">
					<h3>
						<a href="blog-post.html" class="hover-color">Amazing theme for Multi-Purpose</a>
					</h3>
					<p>
						aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
					</p>
				</div>
			</div>
			<div class="col-sm-4 col-xs-12 margin-btm20 wow animated fadeInUp" data-wow-delay="0.6s">
				<a href="blog-post.html">
					<div class="image-sec">
						<img class="img-responsive" src="~/Content/Images/img-2.jpg" alt="Portfolio">
						<div class="image-overlay">
							<p>by author | 7 may | Design</p>
						</div>
					</div> <!--image-->
				</a>
				<div class="blog-desc">
					<h3>
						<a href="blog-post.html" class="hover-color">Amazing theme for Multi-Purpose</a>
					</h3>
					<p>
						aliqua.adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.
					</p>
				</div>
			</div>
		</div><!--row-->
	</div><!--container-->
</section><!--latest news-->