@model TechnicalMarineSolutions.Models.Binding.AppointmentTask

@{
	ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
	<h4>AppointmentTask</h4>
	<hr/>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Appointment.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Appointment.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Task.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Task.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.RecordStatus)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.RecordStatus)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.TaskStatus)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TaskStatus)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Difficulty)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Difficulty)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.EstimatedDuration)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.EstimatedDuration)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.TotalDuration)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TotalDuration)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.StartTime)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.StartTime)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.EndTime)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.EndTime)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Notes)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Notes)
		</dd>

	</dl>
</div>
<p>
	@Html.ActionLink("Edit", "Edit", new
									{
										id = Model.Id
									}) |
	@Html.ActionLink("Back to List", "Index")
</p>