@model TechnicalMarineSolutions.Models.Binding.PostalAddress

@{
	ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
	<h4>PostalAddress</h4>
	<hr/>
	@Html.ValidationSummary(true, "", new
									{
										@class = "text-danger"
									})
	@Html.HiddenFor(model => model.Id)

	<div class="form-group">
		@Html.LabelFor(model => model.PersonalInfoId, "PersonalInfoId", new
																		{
																			@class = "control-label col-md-2"
																		})
		<div class="col-md-10">
			@Html.DropDownList("PersonalInfoId", null, new
														{
															@class = "form-control"
														})
			@Html.ValidationMessageFor(model => model.PersonalInfoId, "", new
																		{
																			@class = "text-danger"
																		})
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.AddressType, new
													{
														@class = "control-label col-md-2"
													})
		<div class="col-md-10">
			@Html.EditorFor(model => model.AddressType, new
														{
															htmlAttributes = new
																			{
																				@class = "form-control"
																			}
														})
			@Html.ValidationMessageFor(model => model.AddressType, "", new
																		{
																			@class = "text-danger"
																		})
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.RecordStatus, new
													{
														@class = "control-label col-md-2"
													})
		<div class="col-md-10">
			@Html.EditorFor(model => model.RecordStatus, new
														{
															htmlAttributes = new
																			{
																				@class = "form-control"
																			}
														})
			@Html.ValidationMessageFor(model => model.RecordStatus, "", new
																		{
																			@class = "text-danger"
																		})
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Recipient, new
												{
													@class = "control-label col-md-2"
												})
		<div class="col-md-10">
			@Html.EditorFor(model => model.Recipient, new
													{
														htmlAttributes = new
																		{
																			@class = "form-control"
																		}
													})
			@Html.ValidationMessageFor(model => model.Recipient, "", new
																	{
																		@class = "text-danger"
																	})
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Attention, new
												{
													@class = "control-label col-md-2"
												})
		<div class="col-md-10">
			@Html.EditorFor(model => model.Attention, new
													{
														htmlAttributes = new
																		{
																			@class = "form-control"
																		}
													})
			@Html.ValidationMessageFor(model => model.Attention, "", new
																	{
																		@class = "text-danger"
																	})
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Address1, new
												{
													@class = "control-label col-md-2"
												})
		<div class="col-md-10">
			@Html.EditorFor(model => model.Address1, new
													{
														htmlAttributes = new
																		{
																			@class = "form-control"
																		}
													})
			@Html.ValidationMessageFor(model => model.Address1, "", new
																	{
																		@class = "text-danger"
																	})
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Address2, new
												{
													@class = "control-label col-md-2"
												})
		<div class="col-md-10">
			@Html.EditorFor(model => model.Address2, new
													{
														htmlAttributes = new
																		{
																			@class = "form-control"
																		}
													})
			@Html.ValidationMessageFor(model => model.Address2, "", new
																	{
																		@class = "text-danger"
																	})
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.City, new
											{
												@class = "control-label col-md-2"
											})
		<div class="col-md-10">
			@Html.EditorFor(model => model.City, new
												{
													htmlAttributes = new
																	{
																		@class = "form-control"
																	}
												})
			@Html.ValidationMessageFor(model => model.City, "", new
																{
																	@class = "text-danger"
																})
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.State, new
											{
												@class = "control-label col-md-2"
											})
		<div class="col-md-10">
			@Html.EditorFor(model => model.State, new
												{
													htmlAttributes = new
																	{
																		@class = "form-control"
																	}
												})
			@Html.ValidationMessageFor(model => model.State, "", new
																{
																	@class = "text-danger"
																})
		</div>
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.PostalCode, new
												{
													@class = "control-label col-md-2"
												})
		<div class="col-md-10">
			@Html.EditorFor(model => model.PostalCode, new
														{
															htmlAttributes = new
																			{
																				@class = "form-control"
																			}
														})
			@Html.ValidationMessageFor(model => model.PostalCode, "", new
																	{
																		@class = "text-danger"
																	})
		</div>
	</div>

	<div class="form-group">
		<div class="col-md-offset-2 col-md-10">
			<input type="submit" value="Save" class="btn btn-default"/>
		</div>
	</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>