@model TechnicalMarineSolutions.Models.Binding.Project

@{
	ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>Project</h4>
	<hr/>
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.RecordStatus)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.RecordStatus)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ProjectStatus)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ProjectStatus)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Name)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Name)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Description)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Description)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Notes)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Notes)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ProjectedStartDate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ProjectedStartDate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.ProjectedEndDate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.ProjectedEndDate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.EstimatedDuration)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.EstimatedDuration)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.StartDate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.StartDate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.EndDate)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.EndDate)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.TotalDuration)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.TotalDuration)
		</dd>

	</dl>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div class="form-actions no-color">
			<input type="submit" value="Delete" class="btn btn-default"/> |
			@Html.ActionLink("Back to List", "Index")
		</div>
	}
</div>